.Project {
  border-radius: 10px;
  background-color: red;
  height: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Project__icon-favorite-wrapper {
  position: absolute;
  top: 0;
  right: 0;

  --square-side: 30px;
  height: var(--square-side);
  width: var(--square-side);

  margin: 10px;
}

.Project__icon-favorite {
  width: 100%;
  max-height: 100%;
  fill: #f9595fff;
}

.Project__name {
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
}

.Project__description {
  font-size: clamp(0.9rem, 0.5vw, 1.5rem);
}

.Project__links {
  display: flex;
  justify-content: center;
  gap: 15%;
}

.Project__link {
  border: white solid 3px;
  border-top: initial;
  border-bottom: initial;
  padding: 10px;
  border-radius: 10px;
}
