.Hero {
  display: flex;
  align-items: center;
  /* max-height: 320px; */
  width: 100%;
  /* height: calc(100vw / 3); */
  height: calc(50vh - 61px);
}

.Hero__text-wrapper {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(calc(-61.4533px / 2));
}

.Hero__text {
  color: #8e8e8e;
  text-transform: capitalize;
}

.Hero__text--small::first-letter {
  text-transform: uppercase;
}
.Hero__text--medium {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: 500;
  text-transform: uppercase;
}

.Hero__text--medium[lang="en"] {
  font-size: clamp(1.12rem, 2.8vw, 1.67rem);
}

.Hero__text--big {
  color: #25364a;
  font-size: clamp(1.75rem, 4.35vw, 2.6rem);
  text-transform: capitalize;
  font-weight: bold;
}
