@import url("./variables.css");

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.Header__list-of-anchors {
  display: flex;
}

.Header__anchor {
  display: inline-block;
  margin: 0 30px;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 15px;
  text-transform: uppercase;
}

.Header__anchor::first-letter {
  text-transform: uppercase;
}
