@import url("./variables.css");
@import url("./section-heading.css");

.Skills {
  padding: var(--section-padding);
}

.Skills__heading {
  margin-bottom: 0;
}

.Skills__subSections {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.Skills__subHeading::first-letter {
  text-transform: uppercase;
}

.Skills__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 75px);
  gap: 75px;
}

.Skills__item {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.Skills__logo-wrapper {
  height: 75px;
  width: 75px;
}

.Skills__logo {
  width: 100%;
  max-height: 100%;
}

.Skills__name {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.75rem;
  text-align: center;
}
