@import url("../../styles/variables.css");

.MyProjects {
  color: white;
  background-color: var(--primary-color);
  padding: var(--section-vertical-padding) var(--section-horizontal-padding);
  padding-bottom: 0;
  margin-bottom: calc(var(--project-height) / 2);

  display: flex;
  flex-direction: column;
  position: relative;
}

.MyProjects::before {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(var(--project-height) / 2);
  content: "";
}

.MyProjects__filters {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: auto;
}

.MyProjects__filter {
  text-align: center;
  border-bottom: solid rgba(255, 255, 255, 0.2) 2px;
  color: rgba(255, 255, 255, 0.2);
  flex: 1;
  cursor: pointer;
  transition: var(--filter-transition-time) ease;

  text-transform: uppercase;
  user-select: none;
}

.MyProjects__filter.active {
  animation: fadeIn var(--filter-transition-time) ease-in forwards;
}

.MyProjects__filter.fadeOut {
  animation: fadeIn var(--filter-transition-time) ease-in forwards reverse;
}

@keyframes fadeIn {
  from {
    border-bottom: solid rgba(255, 255, 255, 0.2) 2px;
    color: rgba(255, 255, 255, 0.2);
  }
  to {
    border-bottom: solid white 2px;
    color: white;
  }
}

.MyProjects__projects {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 50px;
  justify-content: center;
}

.MyProjects__project {
  /* aspect-ratio: 1.5; */
  height: var(--project-height);
  width: 25vw;
  min-width: 270px;
  max-width: 400px;
}
