@import url("../../styles/variables.css");

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-right: calc(var(--section-padding) - var(--header-anchor-padding));
}

.Header__list-of-anchors {
  display: flex;
  gap: 60px;
}

.Header__anchor {
  display: inline-block;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 0.95rem;
  text-transform: uppercase;

  padding: var(--header-anchor-padding);
  border: solid 2px transparent;
  border-radius: 10px;
  transition: var(--button-hover-transition);
}

.Header__anchor:hover {
  border-color: var(--primary-color);
  transition: var(--button-hover-transition);
}

.Header__anchor::first-letter {
  text-transform: uppercase;
}
