@import url("../../styles/variables.css");

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding: 15px
    calc(var(--section-horizontal-padding) - var(--header-anchor-padding));
  padding-bottom: 0;
  /* position: absolute; */
  width: 100%;
  max-width: 1400px;
}

.Header__list-of-anchors {
  display: flex;
  gap: 60px;
}

.Header__anchor {
  display: inline-block;
  text-align: center;
  color: var(--primary-color);
  font-size: 0.95rem;
  text-transform: uppercase;

  padding: var(--header-anchor-padding);
  border: solid 2px transparent;
  border-radius: 10px;
  transition: border-color var(--button-hover-transition);
}

.Header__anchor:hover {
  border-color: var(--primary-color);
  transition: border-color var(--button-hover-transition);
}

.Header__anchor::first-letter {
  text-transform: uppercase;
}
