@import url("../../styles/variables.css");

.SocialMedia {
  position: fixed;
  bottom: 50%;
  left: 0;
  transform: translateY(50%);
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  z-index: 1;
}

.SocialMedia__links-wrapper {
  display: flex;
  flex-direction: column;
}

.SocialMedia__link {
  margin: 10px 0;
  border: 3px solid var(--primary-color);
  border-radius: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: var(--aside-transition-icon);
}

.SocialMedia__link:hover {
  transform: translateY(-3px);
  transition: var(--aside-transition-icon);
}

.SocialMedia__icon {
  width: 2rem;
  height: 2rem;
}

.SocialMedia__icon path {
  display: flex;
  justify-content: center;
  align-items: center;
}
