@import url("./styles/normalize.css");
@import url("./styles/variables.css");

body {
  color: var(--primary-color);
}

.defaultSection {
  width: 100%;
  height: calc(100vw / 3);
  max-height: 500px;
}

.section-heading {
  text-transform: uppercase;
  font-size: clamp(1rem, 2.5vw, 2.5rem);
  margin: 0;
  margin-bottom: 30px;
  letter-spacing: 5px;
  font-weight: 500;
}
