@import url("./styles/normalize.css");
@import url("./styles/variables.css");

body {
  color: var(--primary-color);
  max-width: 1200px;
  margin: auto;
}

.defaultSection {
  width: 100%;
  height: calc(100vw / 3);
  max-height: 450px;
}

.section-heading {
  text-transform: uppercase;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-weight: 500;
  margin: 0;
  margin-bottom: 30px;
  letter-spacing: 5px;
  line-height: 70%;
}
